
@font-face {
    font-family: 'decimalMedium';
    src: url('../font/decimal/Decimal-Medium-Pro.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'decimalSemiBold';
    src: url('../font/decimal/Decimal-Semibold-Pro.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'decimalBold';
    src: url('../font/decimal/Decimal-Bold-Pro.otf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'montserratBlack';
    src: url('../font/montserrat/Montserrat-Black.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratBold';
    src: url('../font/montserrat/Montserrat-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratExtraBold';
    src: url('../font/montserrat/Montserrat-ExtraBold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratExtraLight';
    src: url('../font/montserrat/Montserrat-ExtraLight.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratLight';
    src: url('../font/montserrat/Montserrat-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratMedium';
    src: url('../font/montserrat/Montserrat-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratRegular';
    src: url('../font/montserrat/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratSemiBold';
    src: url('../font/montserrat/Montserrat-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratThin';
    src: url('../font/montserrat/Montserrat-Thin.ttf');
    font-weight: normal;
    font-style: normal;
}







@font-face {
  font-family: 'veeamicon';
  src:  url('../fonts/veeamicon.eot?i3t6hb');
  src:  url('../fonts/veeamicon.eot?i3t6hb#iefix') format('embedded-opentype'),
    url('../fonts/veeamicon.ttf?i3t6hb') format('truetype'),
    url('../fonts/veeamicon.woff?i3t6hb') format('woff'),
    url('../fonts/veeamicon.svg?i3t6hb#veeamicon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'veeamicon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-weight: 800;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tag:before {
  content: "\e900";
  color: #E74B38;
}
.icon-calendar-favorite:before {
  content: "\e901";
  color: #E74B38;
}
.icon-arrow-corner:before {
  content: "\e902";
  color: #E74B38;
}
.icon-refresh2:before {
  content: "\e903";
  color: #E74B38;
}
.icon-database:before {
  content: "\e904";
  color: #E74B38;
}
.icon-refresh-document:before {
  content: "\e905";
  color: #E74B38;
}
.icon-voucher:before {
  content: "\e906";
  color: #E74B38;
}
.icon-sales:before {
  content: "\e907";
  color: #E74B38;
}
.icon-checkbox:before {
  content: "\e908";
  color: #E74B38;
}
.icon-signed:before {
  content: "\e909";
  color: #E74B38;
}
.icon-pen:before {
  content: "\e90a";
  color: #E74B38;
}
.icon-timer:before {
  content: "\e90b";
  color: #E74B38;
}
.icon-partnership:before {
  content: "\e90c";
  color: #E74B38;
}
.icon-download-laptop:before {
  content: "\e90d";
  color: #E74B38;
}
.icon-search:before {
  content: "\e90e";
  color: #E74B38;
}
.icon-exchange:before {
  content: "\e90f";
  color: #E74B38;
}
.icon-heart:before {
  content: "\e910";
  color: #E74B38;
}
.icon-member:before {
  content: "\e911";
  color: #E74B38;
}
.icon-person-verified:before {
  content: "\e912";
  color: #E74B38;
}
.icon-person-new:before {
  content: "\e913";
  color: #E74B38;
}
.icon-person:before {
  content: "\e914";
  color: #E74B38;
}
.icon-refresh:before {
  content: "\e915";
  color: #E74B38;
}
.icon-door-close:before {
  content: "\e916";
  color: #E74B38;
}
.icon-door-open:before {
  content: "\e917";
  color: #E74B38;
}
.icon-gift:before {
  content: "\e918";
  color: #E74B38;
}
.icon-lock:before {
  content: "\e919";
  color: #E74B38;
}
.icon-unlock:before {
  content: "\e91a";
  color: #E74B38;
}
.icon-pdf:before {
  content: "\e91b";
  color: #E74B38;
}
.icon-tick-verified:before {
  content: "\e91c";
  color: #E74B38;
}
.icon-cart:before {
  content: "\e91d";
  color: #E74B38;
}
.icon-attach:before {
  content: "\e91e";
  color: #E74B38;
}
.icon-time:before {
  content: "\e91f";
  color: #E74B38;
}
.icon-calendar:before {
  content: "\e920";
  color: #E74B38;
}
.icon-headphone:before {
  content: "\e921";
  color: #E74B38;
}
.icon-call:before {
  content: "\e922";
  color: #E74B38;
}
.icon-filter:before {
  content: "\e923";
  color: #E74B38;
}
.icon-tune:before {
  content: "\e924";
  color: #E74B38;
}
.icon-plus:before {
  content: "\e925";
  color: #E74B38;
}
.icon-question:before {
  content: "\e926";
  color: #E74B38;
}
.icon-tick:before {
  content: "\e927";
  color: #E74B38;
}
.icon-decline:before {
  content: "\e928";
  color: #E74B38;
}
.icon-paperplane:before {
  content: "\e929";
  color: #E74B38;
}
.icon-envelope:before {
  content: "\e92a";
  color: #E74B38;
}
.icon-envelope-open:before {
  content: "\e92b";
  color: #E74B38;
}
.icon-arrow-circle:before {
  content: "\e92c";
  color: #E74B38;
}
.icon-arrow:before {
  content: "\e92d";
  color: #E74B38;
}
.icon-download:before {
  content: "\e92e";
  color: #E74B38;
}
.icon-out:before {
  content: "\e92f";
  color: #E74B38;
}
.icon-in:before {
  content: "\e930";
  color: #E74B38;
}
.icon-globe:before {
  content: "\e931";
  color: #E74B38;
}
.icon-tick-verifed:before {
  content: "\e932";
  color: #E74B38;
}

