@charset "UTF-8";
/* CSS Document */

.icon_block_01 {
	content: url('../images/icons/block_01.svg');
}

.icon_block_02 {
	content: url('../images/icons/block_02.svg');
}

.icon_block_03 {
	content: url('../images/icons/block_03.svg');
}

.icon_quote {
	content: url('../images/icons/quote.svg');
	width: 60px;
}

i.icon_cart {
	content: url('../images/icons/wallet.png');
	width: 30px;
}


i.icon_coin {
	content: url('../images/icons/coin.svg');
	width: 30px;
}

i.icon_trophy {
	content: url('../images/icons/trophy.svg');
	width: 30px;
}

i.icon_reward {
	content: url('../images/icons/reward.svg');
	width: 30px;
}

i.icon_clock {
	content: url('../images/icons/clock.svg');
	width: 30px;
}

i.icon_cart_blank {
	content: url('../images/icons/cart_blank.svg');
}

i.icon_cart_white {
	content: url('../images/icons/cart_white_1.svg');
}

i.icon_summary_red {
	content: url('../images/icons/summary_red.svg');
}

i.icon_IoT_red {
	content: url('../images/icons/IoT_red.svg');
}
i.icon_CDSS_red {
	content: url('../images/icons/CDSS_red.svg');
}


i.icon_PA_grey {
	content: url('../images/icons/PA_grey.svg');
}

i.icon_summary_redblank {
	content: url('../images/icons/summary_blank.svg');
}
i.icon_summary_red {
	content: url('../images/icons/summary_white.svg');
}
i.icon_summary_white {
	content: url('../images/icons/summary_white_1.svg');
}


i.icon_complete_red {
	content: url('../images/icons/complete_red.svg');
}

i.icon_complete_white {
	content: url('../images/icons/complete_green.svg');
}

i.icon_complete_green {
	content: url('../images/icons/complete_green.svg');
}

i.icon_delete {
	content: url('../images/icons/delete.svg');
}


.icon_progress_01 {
	content: url('../images/icons/progress_01.svg');
}

.icon_progress_01_completed {
	content: url('../images/icons/progress_01_completed.svg');
}

.icon_progress_02 {
	content: url('../images/icons/progress_02.svg');
}

.icon_progress_02_completed {
	content: url('../images/icons/progress_02_completed.svg');
}

.icon_progress_03 {
	content: url('../images/icons/progress_03.svg');
}

.icon_progress_03_completed {
	content: url('../images/icons/progress_03_completed.svg');
}

.icon_progress_04 {
    content: url('../images/icons/progress_04.svg');
}

.icon_progress_04_completed {
    content: url('../images/icons/progress_04_completed.svg');
}

.icon_calendar_red {
	content: url('../images/icons/calendar_red.svg');
}

.icon_paseries {
	content: url('../images/icons/pa_series_white.svg');
}


.icon_CDSS {
	content: url('../images/icons/CDSS.svg');
}

.icon_VMSeries {
	content: url('../images/icons/VMSeries.svg');
}

.icon_IoT {
	content: url('../images/icons/IoT.svg');
}

.icon_vmseries {
	content: url('../images/icons/vm-series.svg');
}

.icon_rewards_red {
	content: url('../images/icons/rewards_red.svg');
}

.icon_rocket_red {
	content: url('../images/icons/rocket_red.png');
}

.icon_rocket {
	content: url('../images/icons/rocket.svg');
}

.icon_employee_red {
	content: url('../images/icons/employees_red.svg');
}

.icon_employee {
	content: url('../images/icons/employees.svg');
}
.icon_leadership_red {
	content: url('../images/icons/leadership_red.svg');
}

.icon_leadership {
	content: url('../images/icons/leadership.svg');
}

.icon_form_red {
	content: url('../images/icons/form_red.svg');
}

.icon_form {
	content: url('../images/icons/form.svg');
}

.icon_reg_red {
	content: url('../images/icons/registration_red.svg');
}

.icon_reg {
	content: url('../images/icons/registration.svg');
}
.icon_reseller_cpn {
	content: url('../images/icons/resellercampaign.png');
}
.icon_disty_cpn {
	content: url('../images/icons/distycampaign.png');
}
.icon_disty_ngfw {
	content: url('../images/icons/red-NGFW.svg');
}
.icon_disty_japac {
	content: url('../images/icons/JAPAC.png');
}

.icon_disty_ebc {
	content: url('../images/icons/JAPAC.png');
}

/*Jan new Campaigns*/
i.icon_handonhand {
	content: url('../images/icons/redoutline-handonhand.svg');
}
i.icon_customer {
	content: url('../images/icons/red-customer.svg');
}
i.icon_coorganise {
	content: url('../images/icons/redoutline-coorganise.svg');
}
i.icon_invite {
	content: url('../images/icons/redoutline-invite.svg');
}
.icon_contact {
	content: url('../images/icons/redoutline-contact.svg');
}
.icon_ref_unleash {
	content: url('../images/icons/red-customer.svg');
}
.icon_red_partnership {
	content: url('../images/icons/red-partnership.svg');
}
.icon_security_bundle {
	content: url('../images/icons/Security_Bundle_Mania_red_cdss.svg');
}
.icon_Partnership_red-outline {
	content: url('../images/icons/Partnership_red-outline.svg');
}
.icon_submitform_red-outline {
	content: url('../images/icons/submitform_red-outline.svg');
}
/* 14-06-23 */
.icon_deal {
	content: url('../images/icons/deal.svg');
}

i.icon_AVsign_red {
	content: url('../images/icons/AVsign_red.svg');
}

i.icon_book_red {
	content: url('../images/icons/book_red.svg');
}
/*-------- 12-10-2023 ------*/

.icon_progress_04 {
	content: url('../images/icons/rocket_red.svg');
}


