
#loader {
	position: relative;
	height: 3px;
	top: 0;
	left: 0;
	z-index: 99;
}

#loader:after{
	color: #fff;
	position: absolute;
	width: 100%;
	height: 3px;
	left: 0;
	top: 0;
	background-color: #f1f1f1;
	z-index: 1;
}

#loader:before{
	content: "";
	position: absolute;
	background-color: #00B336;
	top: 0;
	left: 0px;
	height: 3px;
	width: 0px;
	z-index: 0;
	opacity: 1;
	-webkit-transform-origin:  100% 0%;
			transform-origin:  100% 0% ;
	-webkit-animation: load 3s ease-in-out infinite;
			animation: load 3s ease-in-out infinite;
}



@-webkit-keyframes load {
    0%{width: 0px;}
    70%{width: 100%; opacity: 1;}
    90%{opacity: 0; width: 100%;}
    100%{opacity: 0;width: 0px;}
}

@keyframes load {
    0%{width: 0px;}
    70%{width: 100%; opacity: 1;}
    90%{opacity: 0; width: 100%;}
    100%{opacity: 0;width: 0px;}
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
}


